/*
*Bigger DM
*/
#chatContainer {
	height: 330px;
	left: 240px;
	width: 1205px;
}
 
#activeChatScrollContainer {
    padding-left: 0px;
}
 
.chatBox {
    width: 294px;
    margin-right: 20px;
    bottom: -30px;
}
 
.chatTopBar p {
    width: 182px;
}
 
.chatContent {
    height: 209px;
    margin-left: 2px;
}
 
.chatBoxContainer {
    height: 275px;
    bottom: 0px;
}
 
.chatBoxContainer.open{
    transform: translateY(-16%);
}
 
#xpBarOuter {
    position: absolute;
    width: 0px;
    left: 50000px;
}
 
#currencyContainer {
    position: absolute;
    left: 620px;
}
 
.chatBoxContainer .header {
    height: 55px;
	line-height: 25px;
}
/*
*Bigger DM
*/
